*{
    background-color: darkcyan;
}

.nawigacja{
    margin: 20px;
}

ul li{
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin: 20px 20px;
}

h1{
    text-align: center;
}

.nawigacja-kontener{
    display: inline;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
}

#Audi_logo img,#Audi_logo a{
    width: auto;
    height: 100px;
}

#div{
    width: 10px;
    height: 10px;
}

p:hover{
    transition: 1s;
    color: white;
}

.nawigacja2{
    margin: 75px;
}

.nawigacja3{
    margin: 75px;
}